<p class="lead">
  All Post
  <hr />
</p>

<% @posts.each do |post| %>
<div class="row">
  <div class="span8 well">
    <% post.categories.each do |category| %>
      <span class="badge"><%= category.name  %></span>
    <% end %>
    <h4><%= link_to post.title, post.url %></h4>
    <p>
      <%= post.description %>
    </p>
    <p>
      <span class="quiet">posted by </span><%= post.user.username %>
      <small>at <%= post.created_at %></small>
    </p>
    <p>
      <small><%= link_to "#{post.comments.count} comments", post_path(post) %></small>
    </p>
  </div>
</div>
<% end %>
