<p>
<% @post.categories.each do |category| %>
  <%= render 'categories/category', category: category %>
<% end %>
</p>

<%= render @post.categories %>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>
<hr />

<p>
  <% @post.comments.each do |comment| %>
    <%= comment.body %>
  <% end %>
</p>
